@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: "BDO Grotesk";
  src: url("/fonts/BDOGrotesk-VF.woff2") format("woff2 supports variations"),
    url("/fonts/BDOGrotesk-VF.woff2") format("woff2-variations");
  font-weight: 300 900;
}

@font-face {
  font-family: 'OPPO Sans';
  src: url('/fonts/OPlusSans3-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'OPPO Sans';
  src: url('/fonts/OPlusSans3-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'OPPO Sans';
  src: url('/fonts/OPlusSans3-Bold.woff2') format('woff2');
  font-weight: 600;
}


::-webkit-scrollbar{
  @apply bg-black/0;
  width: 0px;
  height: 14px;
}
::-webkit-scrollbar-thumb{
  @apply bg-neutral-300 dark:bg-neutral-700 hover:hover:bg-neutral-500;
  border-radius: 8px;
  background-clip: content-box;
  border: 4px solid transparent;
}

* {
  scrollbar-width: 12px;
}

body {
  font-family: "OPPO Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  @apply bg-white dark:bg-black dark:selection:bg-neutral-700 dark:selection:text-neutral-300 selection:bg-neutral-300 selection:text-neutral-700 leading-relaxed;
  font-weight: 400;
  font-feature-settings: "kern", "calt", "case";
  font-variant: alternate;
  overflow: overlay;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "OPPO Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  @apply mb-1;
}

b {
  @apply bg-yellow-100 border-b-2 border-yellow-400;
  font-weight: 400;
}

.center {
  margin: 0 auto;
  margin-top: 1.5rem;
}

.prose img {
  @apply rounded-lg mb-0;
}

a {
  @apply underline underline-offset-4 hover:opacity-75;
}

html {
  scroll-snap-type: y mandatory;
}

.math {
  font-size: 1rem !important;
  letter-spacing: 1em !important;
  @apply overflow-x-auto bg-neutral-100 dark:bg-neutral-900 rounded-xl px-8 py-2 my-4 tracking-widest border-[1.5px] dark:border-neutral-800;
}


.center {
  margin: auto;
}

