@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: "Sohne";
  src: url("/fonts/Sohne-Buch.otf") format("opentype");
  font-style: normal;
  font-display: hidden;
  font-weight: 400;
}

@font-face {
  font-family: "Sohne";
  src: url("/fonts/Sohne-Buch.otf") format("opentype");
  font-style: normal;
  font-display: hidden;
  font-weight: 600;
}

@font-face {
  font-family: "Sohne";
  src: url("/fonts/Sohne-BuchKursiv.otf") format("opentype");
  font-style: italic;
  font-display: hidden;
  font-weight: 400;
}

@font-face {
  font-family: "Sohne";
  src: url("/fonts/Sohne-BuchKursiv.otf") format("opentype");
  font-style: italic;
  font-display: hidden;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  min-height: 44px;
  min-width: 44px;
  background-color: transparent;
  border: 5px solid transparent;
  background-clip: padding-box;
  @apply rounded-lg;
}

@media (hover: hover) {
  ::-webkit-scrollbar-thumb:hover {
    --scrollbar-color: #868686;
  }
}

::-webkit-scrollbar-thumb:active {
  --scrollbar-color: #868686;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#868686] rounded-lg;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Sohne", "SimHei", sans-serif;
  -webkit-font-smoothing: antialiased;
  @apply bg-white dark:bg-zinc-950;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter Variable", "SimHei", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
}

.prose img {
  margin: 0 auto;
  @apply rounded-md opacity-100 my-4;
}

.prose p {
  @apply text-zinc-700 dark:text-zinc-300;
}

.prose strong{
  font-family: 'Inter Variable', sans-serif;
}

.prose a {
  @apply decoration-2 decoration-zinc-300 dark:decoration-zinc-700 overflow-x-auto max-w-[100%];
}

.prose code {
  @apply opacity-75 bg-zinc-100 dark:bg-zinc-900 dark:text-white rounded-md px-1 py-1;
}

.prose pre {
  @apply opacity-75 text-black bg-zinc-100 dark:bg-zinc-900 dark:text-white rounded-md;
}

.prose hr {
  @apply border-zinc-200 dark:border-zinc-800;
}

.center {
  margin: 0 auto;
  margin-top: 1.5rem;
}
