@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Founders Grotesk';
  src: url(/fonts/founders-grotesk.otf) format('opentype');
  font-display: hidden;
  font-weight: 400;
}

::-webkit-scrollbar {
  @apply w-0;
}

::selection {
  @apply bg-zinc-200 dark:bg-zinc-800 text-zinc-800 dark:text-zinc-200;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-feature-settings: 'kern' 1, 'liga' 1;
}

body {
  font-family: 'Founders Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'onum' 1, 'liga' 1;
  @apply h-screen  bg-white dark:bg-zinc-950;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Founders Grotesk', sans-serif;
}

p {
  @apply max-w-[37.5rem] leading-[1.55] my-10 text-lg;
}

.prose p {
  @apply max-w-[37.5rem] leading-[1.55] my-10 text-lg;
}

.prose img {
  @apply w-full max-w-none my-16;
}

a {
  @apply underline;
}

.prose a {
  @apply underline;
  font-weight: 400;
}

.prose hr {
  @apply border-zinc-300 dark:border-zinc-800 w-2/3 sm:w-1/3 mx-auto;
}



.prose .italic {
  font-family: 'Tiro Bangla', serif;
  @apply text-base
}

.inter {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  @apply text-base;
}

.serif {
  font-family: 'Tiro Bangla', serif;
}

.prose blockquote ::before {
  content: none;
}

.prose pre {
  @apply border dark:border-zinc-800 bg-white dark:bg-black text-zinc-800 dark:text-zinc-200;
}

.prose strong {
  @apply font-medium;
}

.prose .math {
  @apply overflow-x-auto;
}
