@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aldrich';
  src: url(/fonts/Aldrich-Regular.ttf) format('truetype');
  font-display: hidden;
  font-weight: 400;
}

@font-face {
  font-family: 'FZ';
  src: url(/fonts/FZRuiZHJW.woff2) format('woff2');
  font-display: hidden;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  width: 2px;
  @apply bg-teal-200;
}

::-webkit-scrollbar-thumb {
  @apply bg-teal-800;
  background-clip: padding-box;
  min-height: 24px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-teal-900;
}

::selection {
  @apply bg-teal-800;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Aldrich','FZ', sans-serif;
  -webkit-font-smoothing: antialiased;
  @apply bg-black text-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Aldrich','FZ', sans-serif;
}

img{
  @apply brightness-50 contrast-150 saturate-50 border border-teal-800; 
}

.prose .italic {
  font-family: 'Untitled', serif;
}

.serif {
  font-family: 'Untitled', serif;
}

.prose blockquote ::before {
  content: none;
}

.prose pre {
  @apply text-base border dark:border-zinc-800 bg-white dark:bg-black text-zinc-800 dark:text-zinc-200;
}

.prose strong {
  @apply font-normal;
}

.prose .math {
  @apply overflow-x-auto;
}
