@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  min-height: 44px;
  min-width: 44px;
  background-color: transparent;
  border: 5px solid transparent;
  background-clip: padding-box;
  @apply rounded-lg;
}

@media (hover:hover) {
  ::-webkit-scrollbar-thumb:hover {
    --scrollbar-color: #868686;
  }
}

::-webkit-scrollbar-thumb:active {
  --scrollbar-color: #868686;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  display: none
}

::-webkit-scrollbar-thumb {
  @apply bg-[#868686] rounded-lg;
}

::selection {
  @apply bg-zinc-300;
}

body {
  font-family: 'Syne Variable', sans-serif;
  -webkit-font-smoothing: antialiased;
  @apply bg-white dark:bg-zinc-950;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Syne Variable', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}

a {
  @apply underline decoration-zinc-500 hover:no-underline hover:bg-zinc-200 dark:hover:bg-zinc-800 transition-all duration-300 rounded-md px-0.5 py-0.5;
}

.prose img {
  margin: 0 auto;
  @apply opacity-100 my-4;
}

.prose a {
  @apply overflow-x-auto dark:text-white/75 text-black/75 font-normal underline decoration-zinc-500 hover:no-underline hover:bg-zinc-200 dark:hover:bg-zinc-800 transition-all duration-300 rounded-md px-0.5 py-0.5;
}

.prose p {
  @apply text-black/75 font-normal dark:text-white/75;
}

.prose code{
  @apply opacity-75 bg-zinc-200 dark:bg-zinc-800 dark:text-white rounded-md px-1 py-1;
}

.prose pre{
  @apply opacity-75 text-black bg-zinc-200 dark:bg-zinc-800 dark:text-white rounded-md;
}

.prose 
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-base text-black dark:text-white/75 font-normal opacity-75;
}

.prose hr{
  @apply border-zinc-200 dark:border-zinc-800;
}

.prose li{
  @apply text-black/60 dark:text-white/60;
}

.center {
  margin: 0 auto;
  margin-top: 1.5rem;
}