@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Source Han Sans';
  src: url(/fonts/SourceHanSansCN-Regular.otf) format('opentype');
  font-display: hidden;
  font-weight: 400;
}

@font-face {
  font-family: 'Source Han Sans';
  src: url(/fonts/SourceHanSansCN-Medium.otf) format('opentype');
  font-display: hidden;
  font-weight: 500;
}

@font-face {
  font-family: 'Source Han Sans';
  src: url(/fonts/SourceHanSansCN-Bold.otf) format('opentype');
  font-display: hidden;
  font-weight: 600;
}

@font-face {
  font-family: 'Source Han Sans';
  src: url(/fonts/SourceHanSansCN-Bold.otf) format('opentype');
  font-display: hidden;
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::selection{
  @apply bg-black text-white;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', 'Source Han Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Han Sans', sans-serif;
  @apply font-medium;
}

.prose img{
  @apply rounded-lg;
}

.prose blockquote ::before {
  content: none;
}

.prose pre {
  @apply text-base border dark:border-zinc-800 bg-white dark:bg-black text-zinc-800 dark:text-zinc-200;
}

.prose strong {
  @apply font-semibold;
}

.prose .math {
  @apply overflow-x-auto;
}
